section#features.features
  .container
    h2.heading-secondary Tinyone features
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
    ul.features__list
      li.features__item.features__item--tablet
        h3.features__heading Fully Responsive
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
      li.features__item.features__item--lemon
        h3.features__heading Fully Layered PSD
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
      li.features__item.features__item--folder
        h3.features__heading Font Awesome Icons
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
      li.features__item.features__item--code
        h3.features__heading HTML3 & CSS3
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
      li.features__item.features__item--envelope
        h3.features__heading Email Template
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
      li.features__item.features__item--bookmark
        h3.features__heading Free to download
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.