footer.footer
  .container
    h2.heading-secondary Sign up for our newsletter
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
    form.form(action="/" method="post")
      .form__group
        label.form__field-label(for="email")
        input.form__field(name="email" type="email" id="email" placeholder="Enter your email to update")
        input.button.button--subscribe(type="submit" value="Submit")
    .wrapper
      ul.footer__contact-list
        li.footer__contact-item
          span HALOVIETNAM LTD 66, Dang Van ngu, Dong Da Hanoi, Vietnam
        li.footer__contact-item
          a.footer__link(href="mailto:contact@halovietnam.com") contact@halovietnam.com
        li.footer__contact-item
          a.footer__link(href="tel:+844 35149182") +844 35149182
      nav.footer__navigation
        ul.footer__list
          li.footer__item
            a.footer__link Examples
          li.footer__item
            a.footer__link Shop
          li.footer__item
            a.footer__link License
        ul.footer__list
          li.footer__item
            a.footer__link Contact
          li.footer__item
            a.footer__link About
          li.footer__item
            a.footer__link Privacy
          li.footer__item
            a.footer__link Terms
        ul.footer__list
          li.footer__item
            a.footer__link Download
          li.footer__item
            a.footer__link Support
          li.footer__item
            a.footer__link Documnents
        ul.footer__list
          li.footer__item
            a.footer__link Media
          li.footer__item
            a.footer__link Blog
          li.footer__item
            a.footer__link Forums
