section.portfolio
  .container
    h2.heading-secondary Our works
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
    ul.portfolio__list
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-1.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading Fully Responsive
        p Design / Branding
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-2.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading Font Awesome Icons
        p Design / Branding
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-3.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading HTML3 & CSS3
        p App design / development
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-4.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading Various Layouts
        p Branding
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-5.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading Fully Responsive
        p Design / Branding
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-6.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading Font Awesome Icons
        p Design / Branding
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-7.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading HTML3 & CSS3
        p App design / development
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-8.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading Various Layouts
        p Branding
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock