section.pricing
  .container
    h2.heading-secondary Pricing And Free Trial
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
    ul.pricing__list
      li.pricing__item.pricing__item--basic
        figure.pricing__figure
          .pricing__icon
            i.fas.fa-tablet-alt
        h3.pricing__heading Basic
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        p.price Free
        p.duration free forever
        a.button.button--pricing Get free now
      li.pricing__item.pricing__item--standart
        figure.pricing__figure
          .pricing__icon
            i.fas.fa-laptop
        h3.pricing__heading Standart
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        p.price $99
        p.duration month
        a.button.button--pricing Upgrade
      li.pricing__item.pricing__item--enterprise
        figure.pricing__figure
          .pricing__icon
            i.fas.fa-desktop
        h3.pricing__heading Enterprise
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        p.price $199
        p.duration month
        a.button.button--pricing Learn more