section.stats
  .container
    h2.heading-secondary Stats & Testimonial
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
    ul.stats__list
      li.stats__item.stats__item--product
        p.quantity 20
        p.item Products
      li.stats__item.stats__item--download
        p.quantity 120,000
        p.item Downloads
      li.stats__item.stats__item--customer
        p.quantity 1200
        p.item Customers
      li.stats__item.stats__item--like
        p.quantity 900
        p.item Like
    figure.testimonial
      img.testimonial__image(src="../../images/user.png")
      figcaption.testimonial__caption
        p.testimonial__user John Doe
        p From Wordpress
        blockquote.testimonial__quote
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.