section.team
  .container
    h2.heading-secondary Our team
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
    ul.team__list
      li.team__item
        figure.team__figure
          img.team__image(src="../../images/team-1.png" alt="team member")
        h3.team__heading John Doe
        h4.team__sub-heading UI Designer
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .social-items
          a.social-link.social-link--facebook(href="#") facebook
          a.social-link.social-link--twitter(href="#") twitter
          a.social-link.social-link--linkedin(href="#") linkednin
      li.team__item
        figure.team__figure
          img.team__image(src="../../images/team-2.png" alt="team member")
        h3.team__heading John Doe
        h4.team__sub-heading UI Designer
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .social-items
          a.social-link.social-link--facebook(href="#") facebook
          a.social-link.social-link--twitter(href="#") twitter
          a.social-link.social-link--linkedin(href="#") linkednin
      li.team__item
        figure.team__figure
          img.team__image(src="../../images/team-3.png" alt="team member")
        h3.team__heading John Doe
        h4.team__sub-heading UI Designer
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .social-items
          a.social-link.social-link--facebook(href="#") facebook
          a.social-link.social-link--twitter(href="#") twitter
          a.social-link.social-link--linkedin(href="#") linkednin
      li.team__item
        figure.team__figure
          img.team__image(src="../../images/team-4.png" alt="team member")
        h3.team__heading John Doe
        h4.team__sub-heading UI Designer
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .social-items
          a.social-link.social-link--facebook(href="#") facebook
          a.social-link.social-link--twitter(href="#") twitter
          a.social-link.social-link--linkedin(href="#") linkednin