header.site-header
  .container
    .wrapper
      .site-header__top
        .site-navigation
          input#nav-toggle.site-navigation__checkbox(type="checkbox")
          label.site-navigation__menu-toggle(for="nav-toggle")
            span.sr-only Open main menu
            span.fas.fa-bars(aria-hidden="true")
          nav#main-menu.site-navigation__main-menu(role="navigation" aria-expanded="false" aria-label="Main menu")
            label.site-navigation__menu-close(for="nav-toggle")
              span.sr-only Close main menu
              span.fas.fa-times(aria-hidden="true")
            - var items = ['Products', 'About us', 'Contacts']
            ul.site-navigation__list
              each item in items
                li.site-navigation__item
                  a.site-navigation__link(href="#")= item
          label.backdrop(for="nav-toggle" tabindex="-1" aria-hidden="true" hidden)
        .logo
          img.logo__image(src="../../images/logo.png" alt="company logo")
          span.logo__text tinyone
        .social-items
          a.social-link(href="#") facebook
            i.fab.fa-facebook-f
          a.social-link(href="#") twitter
            i.fab.fa-twitter
          a.social-link(href="#") google plus
            i.fab.fa-google-plus-g
          a.social-link(href="#") pinterest
            i.fab.fa-pinterest
      .site-header__bottom
        h1.heading-primary Inspire your inspiration
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
        a.button.button--large(href="#") get start
        .scroller
          a.scroller__link(href="#features")
            i.fas.fa-long-arrow-alt-down
section#features.features
  .container
    h2.heading-secondary Tinyone features
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
    ul.features__list
      li.features__item.features__item--tablet
        h3.features__heading Fully Responsive
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
      li.features__item.features__item--lemon
        h3.features__heading Fully Layered PSD
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
      li.features__item.features__item--folder
        h3.features__heading Font Awesome Icons
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
      li.features__item.features__item--code
        h3.features__heading HTML3 & CSS3
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
      li.features__item.features__item--envelope
        h3.features__heading Email Template
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
      li.features__item.features__item--bookmark
        h3.features__heading Free to download
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
section.pricing
  .container
    h2.heading-secondary Pricing And Free Trial
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
    ul.pricing__list
      li.pricing__item.pricing__item--basic
        figure.pricing__figure
          .pricing__icon
            i.fas.fa-tablet-alt
        h3.pricing__heading Basic
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        p.price Free
        p.duration free forever
        a.button.button--pricing Get free now
      li.pricing__item.pricing__item--standart
        figure.pricing__figure
          .pricing__icon
            i.fas.fa-laptop
        h3.pricing__heading Standart
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        p.price $99
        p.duration month
        a.button.button--pricing Upgrade
      li.pricing__item.pricing__item--enterprise
        figure.pricing__figure
          .pricing__icon
            i.fas.fa-desktop
        h3.pricing__heading Enterprise
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        p.price $199
        p.duration month
        a.button.button--pricing Learn more
section.portfolio
  .container
    h2.heading-secondary Our works
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
    ul.portfolio__list
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-1.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading Fully Responsive
        p Design / Branding
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-2.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading Font Awesome Icons
        p Design / Branding
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-3.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading HTML3 & CSS3
        p App design / development
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-4.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading Various Layouts
        p Branding
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-5.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading Fully Responsive
        p Design / Branding
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-6.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading Font Awesome Icons
        p Design / Branding
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-7.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading HTML3 & CSS3
        p App design / development
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock
      li.portfolio__item
        .bg-overlay
        figure.portfolio__figure
          img.portfolio__image(src="../../images/work-8.png" alt="project name")
        .portfolio__card-featured
          a.portfolio__link.fas.fa-plus(href="#")
        h3.portfolio__heading Various Layouts
        p Branding
        .portfolio__card-desc
          .portfolio__views
            i.fas.fa-eye
            span 279
          .portfolio__add
            time(datetime="2014/03/07") 07/03/14
            i.fas.fa-clock
section.team
  .container
    h2.heading-secondary Our team
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
    ul.team__list
      li.team__item
        figure.team__figure
          img.team__image(src="../../images/team-1.png" alt="team member")
        h3.team__heading John Doe
        h4.team__sub-heading UI Designer
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .social-items
          a.social-link.social-link--facebook(href="#") facebook
          a.social-link.social-link--twitter(href="#") twitter
          a.social-link.social-link--linkedin(href="#") linkednin
      li.team__item
        figure.team__figure
          img.team__image(src="../../images/team-2.png" alt="team member")
        h3.team__heading John Doe
        h4.team__sub-heading UI Designer
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .social-items
          a.social-link.social-link--facebook(href="#") facebook
          a.social-link.social-link--twitter(href="#") twitter
          a.social-link.social-link--linkedin(href="#") linkednin
      li.team__item
        figure.team__figure
          img.team__image(src="../../images/team-3.png" alt="team member")
        h3.team__heading John Doe
        h4.team__sub-heading UI Designer
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .social-items
          a.social-link.social-link--facebook(href="#") facebook
          a.social-link.social-link--twitter(href="#") twitter
          a.social-link.social-link--linkedin(href="#") linkednin
      li.team__item
        figure.team__figure
          img.team__image(src="../../images/team-4.png" alt="team member")
        h3.team__heading John Doe
        h4.team__sub-heading UI Designer
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .social-items
          a.social-link.social-link--facebook(href="#") facebook
          a.social-link.social-link--twitter(href="#") twitter
          a.social-link.social-link--linkedin(href="#") linkednin
section.stats
  .container
    h2.heading-secondary Stats & Testimonial
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
    ul.stats__list
      li.stats__item.stats__item--product
        p.quantity 20
        p.item Products
      li.stats__item.stats__item--download
        p.quantity 120,000
        p.item Downloads
      li.stats__item.stats__item--customer
        p.quantity 1200
        p.item Customers
      li.stats__item.stats__item--like
        p.quantity 900
        p.item Like
    figure.testimonial
      img.testimonial__image(src="../../images/user.png")
      figcaption.testimonial__caption
        p.user John Doe
        p From Wordpress
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.




