doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="css/styles.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    title Tinyone Landing
  body
    include blocks/_header
  main
    include blocks/_features
    include blocks/_pricing
    include blocks/_portfolio
    include blocks/_team
    include blocks/_stats
    include blocks/_contact
    include blocks/_footer